<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <!--- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Abel|Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
</head>
    <section id="wallpaper"></section>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 sidenav-col">
                    {% if is_granted('ROLE_USER') %}
                        {% include 'nav/topnav.html.twig' %}
                        {% include 'nav/sidenav.html.twig' %}
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card content bg-darker-trans" id="content">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" id="success-alert">{{ message }}</div>
                        {% endfor %}
                        <div class="card-body">{% block content %}{% endblock %}</div>
                        <div class="card-footer content-footer"><small>{% block footer %}Copyright © {{ "now"|date("Y") }} Bartforce{% endblock %}</small></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </body>
</html>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/jquery.mark.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
