{% extends 'base.html.twig' %}

{% block title %}Bartforce Mitglieder{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-headline"><i class="fa fa-address-card mr-1"></i> Mitglieder</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" id="searchInput" type="text" placeholder="Suchen...">
            <br>
            <table class="table">
                <tbody id="memberList">
                {% for member in signedMembers %}
                <tr class="clickable-row" data-href="/profile/{{ member.discordId }}">
                    <td><img class="user-img rounded-circle" src="{{ asset(member.avatar) }}" width="30"></td>
                    <td>{{ member.username }}</a></td>
                    <td><small class="float-right">zuletzt online: {{ member.lastLogin|ago }}</small></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h5>Mitglieder auf Discord: {{ discordMembers }}</h5>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#memberList tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}