{% extends 'base.html.twig' %}

{% block title %}Bartforce {{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-headline"><i class="fas fa-comments mr-1"></i> Forum</h3>
            {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-sm btn-gold green float-right" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fas fa-plus-circle"></i> Neue Kategorie
            </button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for category in categories|sort((a, b) => a.title <=> b.title) %}
            <div class="list-group mt-3">
                <a href="/forum/category/{{ category.id }}" class="list-group-item list-group-item-action forum-category">
                    <span class="row">
                        <span class="col-md-10">
                            <h5 class="mb-1"><i class="fas fa-tag"></i> {{ category.title }}</h5>
                            <small class="forum-category-desc mb-1">{{ category.description }}</small>
                        </span>
                        <span class="col-md-2 pt-1 pr-3 text-right forum-stats forum-category-date">
                                <small><i class="fas fa-sync"></i> {{ category.updatedAt|date("d.m.Y") }}</small>
                        </span>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="exampleModalLongTitle">Neue Kategorie erstellen</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    {{ form_start(forumCategoryForm) }}
                    {{ form_row(forumCategoryForm.title) }}
                    {{ form_row(forumCategoryForm.description) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-gold green">Absenden</button>
                    {{ form_end(forumCategoryForm) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}