{% extends 'base.html.twig' %}

{% block title %}Bartforce {{ title }}{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            <a href="/forum" class="btn btn-sm btn-gold"><i class="fas fa-long-arrow-alt-left"></i> <i class="fas fa-comments mr-1"></i> Forum</a>
            <div class="float-right">
                <button type="button" class="btn btn-sm btn-gold green ml-1" data-toggle="modal" data-target=".topicModal" onclick="createTopic({{ category.id }})">
                    <i class="fas fa-plus-circle"></i> Neues Thema
                </button>
                {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-sm btn-gold yellow ml-1" data-toggle="modal" data-target=".categoryModal" onclick="updateCategory({{ category.title|json_encode }},{{ category.description|json_encode }},{{ category.id }})">
                        <i class="fas fa-wrench"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-gold red ml-1" data-toggle="modal" data-target=".deleteModal" onclick="deleteCategory({{ category.id }})">
                        <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-headline"><i class="fas fa-tag"></i> {{ category.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for topic in topics|sort((a, b) => b.createdAt <=> a.createdAt) %}
                <a href="/forum/topic/{{ topic.id }}" class="forumTopicList-Item">
                    <h5 style="margin-bottom: 3px"><i class="fas fa-stream mr-2 mb-2"></i> {{ topic.title }}</h5>
                    <small class="pl-2">
                        <span><i class="fas fa-clone"></i> {{ topic.forumPosts.values|length }}</span>
                        {% if topic.updatedAt != topic.createdAt %}
                        <span><i class="fas fa-history"></i> {{ topic.updatedAt|ago }}</span>
                        {% endif %}
                        <span><i class="fas fa-edit"></i> {{ topic.createdAt|ago }}</span>
                    </small>
                </a>
            {% endfor %}
        </div>
    </div>
    <!-- Topic Modal -->
    <div class="modal fade topicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="topicModalTitle">Neues Thema eröffnen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    {{ form_start(forumTopicForm, {'action': '%action%' }) }}
                    {{ form_row(forumTopicForm.title) }}
                    {{ form_row(forumTopicForm.topicContentModule) }}
                    {{ form_row(forumTopicForm.topicContent) }}
                    {{ form_row(forumTopicForm.topicText) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
                    <button type="submit" class="btn btn-gold"><i class="fas fa-paper-plane"></i> Absenden</button>
                    {{ form_end(forumTopicForm) }}
                </div>

            </div>
        </div>
    </div>
    <!-- Category Modal -->
    <div class="modal fade categoryModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="categoryModalTitle">Neue Kategorie erstellen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    {{ form_start(forumCategoryForm, {'action': '%action%' }) }}
                    {{ form_row(forumCategoryForm.title, {'id' : 'categoryTitle'}) }}
                    {{ form_row(forumCategoryForm.description, {'id' : 'categoryDescription'}) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
                    <button type="submit" class="btn btn-gold green"><i class="fas fa-paper-plane"></i> Absenden</button>
                    {{ form_end(forumCategoryForm) }}
                </div>

            </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade deleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="deleteModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    <div class="modal-body">
                        <div class="warning-modal-img-block">
                            <img src="{{ asset('img/gif/haltstopp.gif') }}">
                        </div>
                        <h5 id="warningText"></h5>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Uups, ne doch nicht </button>
                    <a href="%thingToKill%" id="killSwitch" type="btn btn-sm" class="btn btn-gold fire"><i class="fas fa-fire"></i> Jaaa, es soll brennen! </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/forum.js') }}"></script>
{% endblock %}