{% extends 'base.html.twig' %}

{% block title %}Bartforce {{ title }}{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            <a href="/forum" class="btn btn-sm btn-gold"><i class="fas fa-long-arrow-alt-left"></i> <i class="fas fa-comments mr-1"></i> Forum</a>
            <a href="/forum/category/{{ catId }}" class="btn btn-sm btn-gold"><i class="fas fa-long-arrow-alt-left"></i> <i class="fas fa-tag"></i> Kategoire</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-headline"><i class="fas fa-stream mr-2 mb-2"></i> {{ topic.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card forum-topic">
                <div class="card-header forum-topic-header">
                    <img class="user-img-forum rounded-circle" src="{{ topic.topicCreator.avatar }}">
                    <h5 class="forum-topic-header-headline">{{ topic.topicCreator.username }}</h5>
                    <span class="float-right">
                        <small><i class="far fa-calendar"></i> {{ topic.createdAt|ago }}</small>
                        {% if topic.updatedAt != topic.createdAt %}
                            <br><small><i class="fas fa-history"></i> {{ topic.updatedAt|ago }}</small>
                        {% endif %}
                    </span>
                </div>
                <div class="card-body forum-topic-body">
                    <p class="card-text">
                        {% if topic.topicContentModule.title == 'image' %}
                        <div class="warning-modal-img-block text-center">
                            <img src="{{ topic.topicContent|raw }}">
                        </div>
                        {% elseif topic.topicContentModule.title == 'video' %}
                        <div class="warning-modal-img-block">
                            <div class="video-container">
                                <iframe src="{{ topic.topicContent|raw }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        </div>
                        {% elseif topic.topicContentModule.title == 'link' %}
                            <div class="warning-modal-img-block text-center">
                                <a href="{{ topic.topicContent|raw }}" target="_blank">{{ topic.title }}</a>
                            </div>
                        {% endif %}
                        <h4>{{ topic.title }}</h4>
                        {{ topic.topicText }}
                    </p>
                </div>
                <div class="card-footer forum-topic-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-gold green" data-toggle="modal" data-target=".postModal" onclick="createPost({{ catId }},{{ topic.id }})">
                            <i class="fas fa-plus-circle"></i> Neuer Beitrag
                        </button>
                        {% if app.user.id == topic.topicCreator.id or is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-sm btn-gold yellow ml-1" data-toggle="modal" data-target=".topicModal" onclick="updateTopic({{ topic.title|json_encode }},{{ topic.topicContent|raw|json_encode }},{{ topic.id }},{{ topic.topicContentModule.title }})">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-gold red ml-1" data-toggle="modal" data-target=".deleteModal" onclick="deleteTopic({{ topic.id }},{{ posts|length }},{{ replies|length }})">
                                <i class="fas fa-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for post in posts|sort((a, b) => b.createdAt <=> a.createdAt) %}
                <div class="card forum-post">
                    <div class="card-header forum-post-header">
                        <img class="user-img-forum rounded-circle" src="{{ post.postCreator.avatar }}">
                        <h5 class="forum-post-header-headline">{{ post.postCreator.username }} </h5>
                        <span class="float-right">
                            <small><i class="fas fa-edit"></i> {{ post.createdAt|ago }}</small>
                            {% if post.updatedAt != post.createdAt %}
                                <br><small><i class="fas fa-history"></i> {{ post.updatedAt|ago }}</small>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body forum-post-body">
                        <p class="card-text" id="{{ post.id }}">{{ post.postContent|raw}}</p>
                        {% if replies|length != 0 %}
                        <ul class="list-group list-group-flush">
                            {% for reply in post.forumReplies.values %}
                                <li class="list-group-item">
                                    <img class="rounded-circle" src="{{ reply.replyCreator.avatar }}" width="20"/>
                                    <span class="badge badge-bluegray">{{ reply.replyCreator.username }}</span>
                                    <span class="reply-content">{{ reply.replyContent }}</span>
                                    {% if app.user.id == reply.replyCreator.id or is_granted('ROLE_ADMIN') %}
                                        <a href="#" data-toggle="modal" data-target=".deleteModal" onclick="deleteReply({{ reply.id }})">
                                            <span class="deleteReply"><small>[ Antwort löschen ]</small></span>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card-footer forum-post-footer">
                        <a href="#" class="btn btn-sm btn-gold green" data-toggle="modal" onclick="createReply({{ topic.id }},{{ post.id }})" data-target=".replyModal"><i class="fas fa-clone"></i> Antworten</a>
                        {% if app.user.id == post.postCreator.id %}
                            <a href="#" class="btn btn-sm btn-gold yellow ml-1" data-toggle="modal" onclick="updatePost({{ post.postContent|raw|json_encode }},{{ post.id }})" data-target=".postModal"><i class="fas fa-wrench"></i></a>
                        {% endif %}
                        {% if app.user.id == post.postCreator.id or is_granted('ROLE_ADMIN') %}
                            <a href="#" class="btn btn-sm btn-gold red ml-1" data-toggle="modal" data-target=".deleteModal" onclick="deletePost({{ post.id }},{{ post.forumReplies|length }})"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Topic Modal -->
    <div class="modal fade topicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="topicModalTitle">Neues Thema eröffnen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    {{ form_start(forumTopicForm, {'action': '%action%' }) }}
                    {{ form_row(forumTopicForm.topicContentModule, {'attr': {'class': 'topicModuleSelection'}}) }}
                    {{ form_row(forumTopicForm.topicContent) }}
                    {{ form_row(forumTopicForm.title) }}
                    {{ form_row(forumTopicForm.topicText) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
                    <button type="submit" class="btn btn-gold"><i class="fas fa-paper-plane"></i> Absenden</button>
                    {{ form_end(forumTopicForm) }}
                </div>

            </div>
        </div>
    </div>
    <!-- Post Modal -->
    <div class="modal fade postModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="postModalTitle">Neuen Beitrag verfassen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    {{ form_start(forumPostForm, {'action': '%action%' }) }}
                    {{ form_row(forumPostForm.postContent) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
                    <button type="submit" class="btn btn-gold"><i class="fas fa-paper-plane"></i> Absenden</button>
                    {{ form_end(forumPostForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Reply Modal -->
    <div class="modal fade replyModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="replyModalTitle">Neue Antwort verfassen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    {{ form_start(forumReplyForm, {'action': '%action%' }) }}
                    {{ form_row(forumReplyForm.replyContent) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
                    <button type="submit" class="btn btn-gold"><i class="fas fa-paper-plane"></i> Absenden</button>
                    {{ form_end(forumReplyForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('img/gif/haltstopp.gif') }}" style="max-width: 100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade deleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-darker">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="deleteModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-0">
                    <div class="modal-body">
                        <div class="warning-modal-img-block">
                            <img src="{{ asset('img/gif/haltstopp.gif') }}">
                        </div>
                        <h5 id="warningText">
                            Du bist im Begriff etwas furchtbares zu tun.
                        </h5>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Uups, ne doch nicht </button>
                    <a href="%thingToKill%" id="killSwitch" type="btn btn-sm" class="btn btn-gold fire"><i class="fas fa-fire"></i> Jaaa, es soll brennen! </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/forum.js') }}"></script>
{% endblock %}