<!--- #SIDENAV# -->
<div class="sidenav text-center">
    <div class="sidenav-profile">
        <img class="user-img rounded-circle" src="{{ app.user.avatar }}" width="40">
        <h5 class="sidenav-profile-name">{{app.user.username}}</h5><span class="font-weight-light discriminator">#{{ app.user.discriminator }}</span>
    </div>
    <div class="sidenav-profile-controls text-center">
        <div class="nav-item small pt-3">
            <a class="nav-link sidenav-link" href="/profile/{{ app.user.discordId }}">
                <i class="fa fa-address-card mr-1"></i>
                Profil
            </a>
        </div>
        <div class="nav-item small">
            <a class="nav-link sidenav-link" href="{{ path('logout') }}">
                <i class="fas fa-sign-out-alt mr-1"></i>
                Abmelden
            </a>
        </div>
    </div>
    <div class="nav-item mb-1 mt-3">
        <a class="nav-link sidenav-link" href="{{ path('index') }}">
            <i class="fas fa-th-large mr-1"></i>
            Dashboard
        </a>
    </div>
    <div class="nav-item mb-1">
        <a class="nav-link sidenav-link" href="{{ path('forumView') }}">
            <i class="fas fa-comments mr-1"></i>
            Forum
        </a>
    </div>
    <div class="nav-item mb-1">
        <a class="nav-link sidenav-link" href="{{ path('memberlist') }}">
            <i class="fas fa-users"></i>
            Mitglieder
        </a>
    </div>
    <div class="nav-item mb-1">
        <a class="nav-link sidenav-link disabled" href="#">
            <i class="fas fa-trophy mr-1"></i>
            Hall of Fame
        </a>
    </div>
    <div class="nav-item mb-1">
        <a class="nav-link sidenav-link disabled" href="#">
            <i class="fas fa-sitemap mr-1"></i>
            Turniere
        </a>
    </div>
    <div class="nav-item mb-1">
        <a class="nav-link sidenav-link disabled" href="#">
            <i class="fas fa-random mr-1"></i>
            Match Maker
        </a>
    </div>
</div>
<!--- #/SIDENAV# --->